<form class="list-name-input-container" hidden method="POST" action="/each-list">
   <input class="list-input" type="text" placeholder="List name" autofocus name="listName">
   <div class="createList-btn" >Create list</div>
</form>
<div class="overlay" hidden>