<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <title>Listify</title>
</head>

        <nav>
            <div class="nav-icon">
                <svg width="33" height="32" viewBox="0 0 33 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <ellipse cx="16.5" cy="16" rx="16.5" ry="16" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M8 12C7.45 12 7 11.55 7 11C7 10.45 7.45 10 8 10H24C24.55 10 25 10.45 25 11C25 11.55 24.55 12 24 12H8ZM8 17H24C24.55 17 25 16.55 25 16C25 15.45 24.55 15 24 15H8C7.45 15 7 15.45 7 16C7 16.55 7.45 17 8 17ZM8 22H24C24.55 22 25 21.55 25 21C25 20.45 24.55 20 24 20H8C7.45 20 7 20.45 7 21C7 21.55 7.45 22 8 22Z" fill="black" fill-opacity="0.54"/>
                </svg>
            </div>
                
            <h3 class="app-name">Listify</h3> 
        </nav>
</html>