<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/partials.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <title>Listify</title>
</head>
    <div class="item">
        <input type="checkbox" class="checkbox"></input>
        <p class="item-name"><%= item %></p>
        <div class="quantity-price-container">
            <input type="text" class="item-quantity" value= <%=quantity%> ></input>
            <input type="text" class="unit-price" value= <%=unitPrice%> ></input>
        </div>
    </div>

</html>