
        <!---- small eclipse & stroke to reuse later using defs-->
        <div>
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <circle id="small-eclipse" cx="6" cy="6" r="6" fill="#C4C4C4"/>
                </defs>
            </svg>
        </div>
        <div>
            <svg width="134" height="1" viewBox="0 0 134 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                <defs>
                    <line id="stroke" y1="0.5" x2="134" y2="0.5" stroke="#C4C4C4"/>
                </defs>
            </svg>
        </div>
        <!---------------------------------------------------------->
            <div class="list-img">
                <div class="small-eclipse">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#small-eclipse"/>
                    </svg>
                    <div class="stroke">
                        <svg width="134" height="1" viewBox="0 0 134 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#stroke"/>
                        </svg>
                    </div>
                </div>
                <div class="small-eclipse">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#small-eclipse"/>
                    </svg>
                    <div class="stroke">
                        <svg width="134" height="1" viewBox="0 0 134 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#stroke"/>
                        </svg>
                    </div>
                </div>
                <div class="small-eclipse">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#small-eclipse"/>
                    </svg>
                    <div  class="stroke">
                        <svg width="134" height="1" viewBox="0 0 134 1" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <use xlink:href="#stroke"/>
                        </svg>
    
                    </div>
                </div>
            </div>
