
/* header */
.nav-icon{
    transform: translate(10px,7px);
    display: inline-block;
}

.app-name{
    display: inline-block;
    transform: translateX(20px);
    font-size: 24px;
    font-family: 'Courgette', cursive;
    color: #ffffff;
}

/*list-image*/
.stroke{
    display: inline-block;
    position: relative;
    top: -5px;
}
.list-img{
    margin-bottom: 6em;
}

/*create-button*/
.create-btn{
    display: inline-block;
    width: 4em;
    height: 4em;
    
}
.create-btn:hover{
    cursor: pointer;
}

/*item*/
[noDisplay]{
    display: none !important;
}
.item{
    display: flex;
    align-items: center;
    padding: 10px;
    flex-wrap: wrap;
    border-bottom: solid 1px #C4C4C4;
}
input[type = "checkbox"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    min-width: 22px;
    min-height: 22px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #7868E6;
}
input[type = "checkbox"]:checked{
    margin: 0 3px 0 4px;
    min-width: 15px;
    min-height: 22px;
    border-radius: 3px;
    transform: rotate(45deg);
    border: none;
    border-right: solid 5px #7868E6;
    border-bottom: solid 5px #7868E6;
    background: none;
}
.item-name{
    width: 30%;
    margin-left: 10px;
}
.quantity-price-container{
    margin-left: auto;
    margin-right: 30px;
    width: 100px;
    height: 100%;
    display: flex;
    justify-content: space-around;
   
}
.quantity-price-container  input{
    width: 30%;
    height: 100%;
    border: solid 1px #EDEEF7;
    border-radius: 5px;
    
}
.noteTotalprice{
    flex-basis: 100%;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: #A59C9C;
}

.noteInput{
    width: 50%;
    height: 100%;
    margin-left: 10px;
    border: solid 1px #EDEEF7;
    border-radius: 5px;
    min-height: 4em;
}
.note,
.totalPrice{
    width: 10em;
    display: flex;
    align-items: center;
}

.priceLabel{
    width: 3em;
    margin: 0 1em;
}
