*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body{
    background-color: #F3F3F4 ;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
}
header{
    background-color: #7868E6;
    width: 100vw;
    height: 3rem;
}
.container{
    margin: 20vh auto;
    text-align: center;
}
.instruction{
    font-size: 18px;
    color: #A59C9C;
    padding: 0 0 3em 0;

}

/* each-list-page*/
.wrapper{
    width: 95vw;
    margin: 0.5em auto;
}
.top-container{
    margin: 0.5em auto ;
    width: 100%;
}
.list-name{
    color: #A59C9C;
    margin: 0.5em 0.6em;
}
.input-container{
    box-sizing: border-box;
    width: 100%;
    height: 3em;
    background-color: #ffffff;
}
.list-item-input{
    margin: 0 0.8em;
    box-sizing: border-box;
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    color: #7868E6;
    
}
::placeholder{
    color: #7868E6;
    opacity: 0.5;
    font-size: 18px;
    padding: 1em;
}

.bottom-container{
    width: 100%;
    height: 6em;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    top: 19.5em;
}
.bottom-text{
    width: 90%;
    padding-top: 0.5em;
    margin: 1em;
    color: #C4C4C4 ;
}
.btn{
    position: absolute;
    top: 32em;
    left: 14em;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.4em 1em;
    background-color: #7868E6;
    border-radius: 10px;
    box-shadow:  0 2px 5px rgba(0,0,0,0.5);
}
.btn:hover{
    cursor: pointer;
}
.visibility{
    visibility: hidden;
}
/*----*/
.overlay{
    position: absolute;
    top: 0em;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
}

.list-name-input-container{
    position: absolute;
    z-index: 2;
    top: 40vh;
    left: 10vw;
    box-sizing: border-box;
    width: 80vw;
    height: 9em;
    background-color: #ffffff;
    box-shadow:  0 2px 6px 2px rgba(0,0,0,0.5);
}
.list-name-input{
    margin: 2em 0.8em 1em;
    box-sizing: border-box;
    width: 90%;
    height: 30%;
    border: none;
    border-bottom: solid 1px #7868E6;
    outline: none;
    color: #7868E6;
    font-size: 18px;
   
}

.createList-btn{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #7868E6;
    width: 8em;
    padding: 0.5em 0;
    box-shadow:  0 2px 5px rgba(0,0,0,0.5);
    margin-left: 30%;
}
.createList-btn:hover{
    cursor: pointer;
}
.overlay[hidden]{
    visibility: hidden;
}
