*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body{
    background-color: #F3F3F4 ;
}
header{
    background-color: #7868E6;
    width: 100vw;
    height: 3rem;
    position: fixed;
}
.container{
    margin: 20vh auto;
    text-align: center;
}

.nav-icon{
    transform: translate(10px,7px);
    display: inline-block;
}

.app-name{
    display: inline-block;
    transform: translateX(20px);
    font-size: 24px;
    font-family: 'Courgette', cursive;
    color: #ffffff;
}


.stroke{
    display: inline-block;
    position: relative;
    top: -5px;
}
.list-img{
    margin-bottom: 6em;
}

.instruction{
    font-size: 18px;
    color: #A59C9C;
    padding: 0 0 3em 0;

}
.create-btn{
 
    width: 3em;
    
}
.create-btn:hover{
    cursor: pointer;
}

