*{
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body{
    background-color: #F3F3F4 ;
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    color: #696868;
}
header{
    background-color: #7868E6;
    width: 100vw;
    height: 3rem;
}
.container{
    margin: 20vh auto;
    text-align: center;
}
.instruction{
    font-size: 18px;
    color: #A59C9C;
    padding: 0 0 3em 0;

}

/*Transition layer to each-list-page*/
.overlay{
    position: absolute;
    top: 0em;
    width: 100vw;
    height: 100vh;
    background-color:rgba(0,0,0,0.5);
    z-index:1;
}

.list-name-input-container{
    position: absolute;
    z-index: 2;
    top: 40vh;
    left: 10vw;
    box-sizing: border-box;
    width: 80vw;
    height: 9em;
    background-color: #ffffff;
    box-shadow:  0 2px 6px 2px rgba(0,0,0,0.5);
}
.list-input{
    margin: 2em 0.8em 1em;
    box-sizing: border-box;
    width: 90%;
    height: 30%;
    border: none;
    outline: none;
    color: #7868E6;
    font-size: 18px;
    border-bottom: 1px #7868E6;
   
}

.createList-btn{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background-color: #7868E6;
    width: 8em;
    padding: 0.5em 0;
    box-shadow:  0 2px 5px rgba(0,0,0,0.5);
    margin-left: 30%;
}
.createList-btn:hover{
    cursor: pointer;
}

/* each-list-page*/
.wrapper{
    max-width: 500px;
    margin: 0.5em auto;
}
.top-container{
    margin: 0.1em auto ;
    width: 100%;
}
.list-name{
    margin: 2em 0.6em 0.5em 0;
}
.list-name-input{
    border: none;
    outline: none;
    margin-left: 0.8em;
}
.list-name-input:focus{
    background-color: #faf8f8;
    padding: 10px 0;
    box-shadow: 0 1px 5px #C4C4C4;
}
.list-name-input:empty:not(:focus)::before{
    content: attr(data-placeholder);
}

.input-container{
    box-sizing: border-box;
    width: 100%;
    height: 3.5em;
    background-color: #ffffff;
    margin-bottom: 1em;
    box-shadow: 0 1px 5px #C4C4C4;
}
.list-item-input{
    margin: 0.8em 0.8em 0;
    box-sizing: border-box;
    width: 90%;
    height: 50%;
    border: none;
    outline: none;
    color: #7868E6;
    border-bottom:  1px solid #8e80e7; 
}
::placeholder{
    color: #7868E6;
    opacity: 0.5;
    font-size: 18px;
    padding-left: 5px;
}
/*item-container div*/
.items{
    background-color: #ffffff;
    border-radius: 10px;
}
.label{
    font-size: 12px;
    text-align: right;
    padding-right: 70px;
    margin-bottom: 5px;
}
.mini{
    display: inline-block;
    width: 30px;
    margin-right: 8px;
}

.price{
    margin-left: 16px;
}


/*bottom div*/
.bottom-wrapper{
    position: relative;
    padding-top: 1em;
    margin-top: 2em;
}
.bottom-container{
    width: 100%;
    height: 6em;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 5px #C4C4C4;
}
.bottom-text{
    width: 90%;
    padding-top: 0.5em;
    margin: 1em;
    color: #C4C4C4 ;
}
.btn{
    position: absolute;
    bottom: 10%;
    left: 70%;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.4em 1em;
    background-color: #7868E6;
    border-radius: 10px;
    box-shadow: 0 1px 5px #727272;
}
.btn:hover{
    cursor: pointer;
}
[hidden]{
    visibility: hidden;
}

/*Transition layer to all lists page*/
.transition{
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70vw;
    background-color: #F3F3F4;
    box-shadow:  0 2px 6px 2px rgba(0,0,0,0.5);
}
.transition-btn{
    display: block;
    height: 50px;
    width: 80%;
    margin: 0 auto;
    transform: translateY(20vh);
    box-shadow: 0 2px 2px #C4C4C4;
    background-color: #e7e3e3;
    color: #7868E6;
    text-decoration: none;
    text-align: center;
    line-height: 50px; /* set line-height equal to parent height to center vertically*/
    font-size: 24px;
}
.transition-btn:hover{
    cursor: pointer;
}

/*All-list-page*/
.lists{
     max-width: 90vw;  
     margin: 2em auto;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-evenly;
     align-content: space-evenly;
 
}
.list{
    margin: 0.5em
}
.text-button-wrapper{
    width: 320px;
    margin: 50px auto 0;
    display: flex;
}
.text{
    font-size: 18px;
    color: #A59C9C;
    margin-top: 25px;
    margin-left: 20px ;
}
.button{
    margin-left: 10px;
}
