<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">

    <title>Listify</title>
</head>
<body>
    <header>
        <%- include("../partials/header.ejs") %>
    </header>
    <main>
       <div class="container">
           <%- include("../partials/list-image.ejs") %>
           <p class="instruction">Tap to create your first list</p>
           <%- include("../partials/create-button.ejs") %>
       </div>

    </main>
    <!--Create list transistion layer-->
    <form class="list-name-input-container" hidden method="POST" action="/each-list">
        <input class="list-name-input" type="text" placeholder="List name" autofocus name="listName">
        <div class="createList-btn" >Create list</div>
    </form>
    <div class="overlay" hidden>
    </div>
    <script src= "/javascripts/first-page.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</body>
</html>